[submodule "Plugins/WeatherDataPlugin"]
	path = Plugins/WeatherDataPlugin
	url = https://github.com/UE4-OceanProject/WeatherDataPlugin.git
[submodule "Plugins/SkyPlugin"]
	path = Plugins/SkyPlugin
	url = https://github.com/UE4-OceanProject/SkyPlugin.git
[submodule "Plugins/BuoyancyPlugin"]
	path = Plugins/BuoyancyPlugin
	url = https://github.com/UE4-OceanProject/BuoyancyPlugin.git
[submodule "Plugins/FishPlugin"]
	path = Plugins/FishPlugin
	url = https://github.com/UE4-OceanProject/FishPlugin.git
[submodule "Plugins/TimePlugin"]
	path = Plugins/TimePlugin
	url = https://github.com/UE4-OceanProject/TimePlugin.git
[submodule "Plugins/OceanPlugin"]
	path = Plugins/OceanPlugin
	url = https://github.com/UE4-OceanProject/OceanPlugin.git
[submodule "Plugins/WeatherSysPlugin"]
	path = Plugins/WeatherSysPlugin
	url = ../WeatherSysPlugin
